
package-lock.json

#vs Code IDE configuration files
.vscode
.vs
*.VC.db
.history


**/*.map
**/node_modules

build
build/*
try
try/**

###
Debug
Debug/*
Release
Release/*
*.user
build.*

0.*
1.*
tmp.*
*.tmp
